body{
    background: #F5F5F5;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

head{
    width: 100%;
}
.nombre{
    margin: 30px auto 0 150px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

/*propiedades del nav*/

nav{
    margin: 30px 150px 0 auto;
    font-size: 16px;
    float: right;
}

ul a{
    color: #000000;
    text-decoration: none;
}

ul li{
    margin: 0 10px;
    display: inline-block;
}

/*propiedades de la presentacion*/
.presentacion{
    display: inline-block;
    width: 60%;
    padding-left: 150px;
}

.presentacion-imagen{
    margin-top: 50px;
    display: inline-block;
}

.foto-perfil{
    border-radius: 50%;
}

.presentacion p{
    padding-top: 50px;
}

.presentacion h2{
    font-size: 55px;
    font-weight: bold;
}

.presentacion ul{
    padding-top: 50px;
}


.sobre-mi{
    background: #EAF2FD;
    margin-top: 50px;
    padding:150px 500px 150px 150px;
}

.sobre-mi h3{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 16px;
}

