body{
    background: #F5F5F5;
    font-family: 'Titillium Web', sans-serif;
}
.nombre{
    display: inline-block;
}
.nombre h1{
    position: static;
    font-size: 16px;
    font-weight: bold;
    width: 102px;
    height: 19px;
    margin: 34.5px 0 0 152px;
    
}
nav{
    position: static;
    margin-top: 34.5px;
    margin-right: 150px;
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 0 16px;
}

li a{
    text-decoration: none;
    color: black;
}
nav ul li:last-child{
    font-weight: bold;
}

li:hover{
    text-decoration: underline;
}

/*propiedades de la presentacion*/
.presentacion{
    display: inline-block;
    
}
.presentacion-contenedor-h2 {
    position: static;
    width: 751px;
    height: auto;
    margin: 181px 0 0 152px;
}
h2{
    font-size: 52px;
    font-weight: 700;
}

.presentacion-contenedor-p{
    position: static;
    width: 751px;
    height: auto;
    margin: 24px 0 0 152px ;
}

.presentacion-contenedor p{
    font-size: 22px;
}

.presentacion ul{
    position: static;
    width: 455px;
    height: 19px;
    margin: 26.5px 0 95px 140px ;
    
}
.presentacion ul li {
    display: inline-block;
    padding: 0 16px;

}

.presentacion-imagen{
    position: static;
    margin: 100px 150px 0 17px;
    float: right;
}

.presentacion-imagen img{
    border-radius: 50%;
    width: 368px;
}

/* sobre mi */

.sobre-mi{
    background-color: #EAF2FD;
    height: 383px;
    padding: 1px 0 0 0;
    
}

.sobre-mi-contenedor-h3{
    margin: 64px 0 0 152px;
}
.sobre-mi-contenedor-h3 h3{
    font-size: 32px;
    font-weight: 700;
}

.sobre-mi-contenedor-p {
    width: 800px;
    height: auto;
    margin: 16px 0 0 152px;
}

.sobre-mi-contenedor-p p{
    font-size: 16px;
}



@media screen and (max-width:900px) {

.nombre h1{
    margin: 34.5px 0 0 32px;
}

nav {
    display: none;
}

.presentacion-contenedor-h2{
    width: 500px;
    height: auto;
    margin: 58px 0 8px 32px;
}

.presentacion-contenedor-p{
    width: 500px;
    height: auto;
    margin: 24px 0 0 32px;
}

.presentacion ul{
    margin: 10.5px 0 95px 18px ;
}

ul li a{
    font-weight: 600;
}

h2{
    font-size: 35px;
}

.presentacion-imagen{
    margin: 70px 70px 0 17px;
}

.presentacion-imagen img{
    width: 146px;
}

.sobre-mi-contenedor-h3{
    margin: 32px 0 0 32px;
}

.sobre-mi-contenedor-p {
    width: 500px;
    margin: 16px 0 0 32px;
}

}

@media screen and (max-width:500px){
 
.nombre h1{
    margin: 18px 0 0 32px;
 }

.presentacion-contenedor-h2{
    width: 400px;
    height: auto;
    margin: 152px 0 8px 32px;
}

.presentacion-contenedor-p{
    width: 400px;
    height: auto;
    margin: 24px 0 0 32px;
}

.presentacion ul {
    margin: 10.5px 0 16px 18px;
}

.presentacion-imagen{
    margin: -385px 170px 0 0;
}

.sobre-mi{
    width: 474px;
}

.sobre-mi-contenedor-p{
    width: 400px;
}

}

