.contacto{
    background: #EAF2FD;
    display: flex;
}
.contacto__img{
    width: 30rem;
    margin-top: 5rem;
    margin-left: 7rem;
    margin-bottom: 5rem;
}
.contacto__derecha{
    display: flex;
    flex-direction: column;
}
.contacto__titulo{
    font-size: 1.75rem;
    font-weight: bold;
}

.contacto__derecha{
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

.contacto__derecha form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.contacto__derecha form input{
    outline: none;
    border:none;
    border-bottom: solid #cccccc 2px;
    border-radius: 3px;
    height: 3rem;
    margin: 1rem 0;
}

.contacto__derecha form input:focus{
    border-bottom: solid #2A7AE4 2px;
}

.contacto__derecha form textarea{
    outline: none;
    margin-top: 1rem;
    border-radius: 3px;
    border: none;
    border-bottom: solid #cccccc 2px;
}

.contacto__derecha form textarea:focus{
    border-bottom: solid #2A7AE4 2px;
}

.enviar{
    border: none;
    background: #2A7AE4;
    color: #ffffff;
    width: 20%;
}