.cabecera{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecera__titulo{
    display: flex;
    font-size: 1.15rem;
    font-weight: bold;
    margin: 2rem 0 0 7rem;
}

.nav__lista{
    display: flex;
    margin: 2rem 7rem 0 0;
}

.nav__item{
    padding: 0 1rem;
}

.nav__item:last-child{
    padding-right: 0;
}

.nav__link{
    font-size: 1.15rem;
    color: #000000;
    text-decoration: none;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link.activo{
    font-weight: bold;
}

@media screen and (max-width: 1165px){
    .cabecera__titulo{
        font-size: 1rem;
        margin: 2rem 0 0 4rem;
    }
    .nav__lista{
        margin: 2rem 4rem 0 0;
    }
    .nav__link{
        font-size: 1rem;
    }
}

@media screen and (max-width: 820px){
    .cabecera__titulo{
        font-size: 1rem;
        margin: 1rem 0 0 2rem;
    }
    .nav__lista{
        margin: 1rem 2rem 0 0;
    }
    .nav__item:nth-child(-n+5){
        display: none;
    }
    
    .nav__link{
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px){
    .cabecera__titulo{
        font-size: 0.8rem;
        margin: 1rem 0 0 2rem;
    }
    .nav__lista{
        margin: 1rem 2rem 0 0;
    }
    .nav__item:nth-child(-n+5){
        display: none;
        
    }
    .nav__link{
        font-size: 0.8rem;
    }
}