.hobbies__titulo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.hobbies__cajas{
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}
.hobbies__cajas i{
 color: #2A7AE4;
}


.hobbies__caja{
    width: 170px;
    height: 170px;
    background: #ffffff;
    transition: all .3s;
}

.hobbies__caja i{
    font-size: 1.75rem;
    margin-top: 110px;
    margin-left: 10px;
    padding-bottom: 0.5rem;
}

.hobbies__caja p{
    margin-left: 10px;
}

.hobbies__caja:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 760px){
    .hobbies__cajas{
        flex-wrap: wrap;
    }
}